body {
  margin: 0;
  padding: 0;
  background: #e2e1e0;
}

.app-container {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 362px) {
  .app-container {
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
